$clr-background: black;
$clr-modal-bg: rgba(0, 0, 0, 0.795);
$clr-header-text: white;
$clr-text-hover: rgb(150, 150, 150);
$header-height: 4.65em;
$clr-about: rgba(0, 0, 0, 0.849);

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif; 
    margin: 0; 
    padding: 0; 
}

header {
    background-color: $clr-background; 
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $clr-header-text; 
    padding: 1em 3em; 
    z-index: 100;
    margin: 0;

    nav {
        width: 100%;

        .navbar {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex; 
            gap: 1.5em;
            align-items: center;
            justify-content: start; 
            width: 100%;
            font-size: 1.5em;

            #about-toggle {
                color: $clr-header-text;
                transition: color 0.2s ease; 
        
                &:hover,
                &:focus {
                    color: $clr-text-hover;
                    cursor: pointer;
                }
            }

            #signin{
                display: flex;
                align-items: center;
                justify-content: center;
                a {
                    color: white;
                    text-decoration: none;
                    transition: color 0.2s ease; 

                    &:hover {
                        color: $clr-text-hover;
                        cursor: pointer;
                    }
                }

            }

            li .search {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 0.5em;
                max-width: 400em;

                .map-icon {
                    font-size: 24px;
                }
                
                input {
                    padding: 1em;
                    border-radius: 1.5em;
                    border: none;
                    max-width: 50em;
                    outline: none;
                }
                

            }
            
        }


    }
}

#about-panel {
    position: fixed;
    padding: 1em 3em; 
    width: 100%;
    color: $clr-header-text;
    top: -10em;
    background-color: $clr-about;
    display: block;
    z-index: 1;
}


main {
    z-index: 0;
    height: calc(100vh - $header-height);
    width: 100%;
    position: relative;
    top: 0;

}

#map {
    height: 100%; 
    width: 100%;   

    &:hover {
        cursor: url('/images/pin.png'), auto;
    }

}

/* Modal styles */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    transition: opacity 0.3s ease; /* Smooth transition for modal */
}

.modal-content {
    background-color: $clr-modal-bg;
    color: $clr-header-text;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: auto; /* Center the modal */
    padding: 2em;
    border: 1px solid $clr-background;
    border-radius: 3em;
    max-width: 30em;
    position: relative; /* Ensure it stays within the bounds of the modal */
    top: calc(50% + 3em);
    transform: translateY(-50%); /* Center vertically */

    form {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-around;
        padding: 0px 1em;
        width: 100%;
        outline: none;

        select {
            padding: 0.5em;
            border-radius: 1em;

        }

        label, label.input-float {
            margin-bottom: 0.3em;
            margin-right: 0.3em;
            font-size: 1em;
            font-weight: 700;
        }

        textarea {
            border-radius: 1.5em;
            padding: 1.3em 2em;
            width: 100%;
            resize: none;
            outline: none;
            font-size: 1em;
            font-family: Arial, Helvetica, sans-serif;

        }

        button[type="submit"] {
            margin:auto;
            outline: none;
            width: 50%;
            padding: 0.5em 1em;
            font-size: 1.3em;
            border-radius: 1.3em;
            text-align: center;
            background-color: transparent;
            color: $clr-header-text;
            border: 2px solid $clr-header-text;
            transition: color 0.3s ease; /* Smooth color transition */

            &:hover {
                background-color: $clr-header-text;
                color: $clr-background;
                font-weight: bold;
                cursor: pointer;
            }

        }

        .input-float {
            display: float;
            align-items: start;
            select {
                min-width: 15em;
                max-width: 80%;
                padding: 0.75em;
                border-radius: 1.5em;
    
                option {
                    padding: 0.25em;
                }
    
            }
        }
        
    }

    .close {
        color: #aaa;
        position: fixed;
        top: 1em;
        right: 1em;
        font-size: 28px;
        font-weight: bold;
        transition: color 0.3s ease; 
        
        &:hover,
        &:focus {
            color: #f00; 
            text-decoration: none;
            cursor: pointer;
        }
    
    }
    
    
}

/* LOGIN PAGE STYLING */

  
.container {
    padding: 2em;
    background-color: $clr-modal-bg;
    color: $clr-header-text;
    margin-bottom: 3.5em;

    border-radius: 3em;
    max-width: 30em;
}

/* Style the tab content */
.tabcontent {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1em;
    
    span.tablink {
        text-align: center;
        text-decoration: underline;
        color: rgb(0, 153, 255);

        &:hover{
            cursor: pointer;
        }
        
    }

    h1 { 
        text-align: center;
        font-size: 2em;
        
    } 

    form {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        gap: 0.75em;
        padding: 1em;
        width: 20em;



        label {
            font-size: 1.5em;
            font-weight: 545;
        }

        input {
            padding: 1em;
            border-radius: 1.5em;
            border: none;
            width: 100%;
            outline: none;
            font-family: Arial, Helvetica, sans-serif;
        }

        button[type="submit"] {
            margin:auto;
            outline: none;
            width: 50%;
            padding: 0.5em 1em;
            font-size: 1.3em;
            border-radius: 1.3em;
            text-align: center;
            background-color: transparent;
            color: $clr-header-text;
            border: 2px solid $clr-header-text;
            transition: color 0.3s ease; /* Smooth color transition */

            &:hover {
                background-color: $clr-header-text;
                color: $clr-background;
                font-weight: bold;
                cursor: pointer;
            }

        }


    }
}


/* Responsive styles */
@media (max-width: 768px) {

    .modal-content {
        width: 90%; /* Make modal a bit wider on small screens */   
    }
}


/*# sourceMappingURL=styles.css.map */